.react-code-input {
	border: 1px solid #414042;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	border-radius: 6px;
	overflow: hidden;
	padding: .2rem .6rem;
	color: #231F20;

	&--wrapper {
		width: max-content;
	}

	&--disabled {
		background-color: #D1D3D4;
		pointer-events: none;
		cursor: not-allowed;
	}

	&--label {
		font-size: .8rem;
		color: #231F20;
	}

	&--separator {
		font-size: 1.3rem;
		line-height: 1.1;
		width: 0.7rem;
		text-align: center;
	}

	&--hints {
		line-height: 1.05;
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		& span {
			font-size: 0.7rem;
		}
	}

	&--container {


		&-digit {
			border-style: none;
			outline: none;
			font-size: 1.3rem;
			width: calc(10px + 1.3rem);

			&::placeholder {
				color: #6D6E71;
			}

			&:disabled {
				background-color: #D1D3D4;
				pointer-events: none;
				cursor: not-allowed;
			}
		}
	}
}
